{erl_opts, [debug_info]}.
{deps, [
        {cowboy, "2.9.0", {git, "https://github.com/ninenines/cowboy.git", {tag, "2.9.0"}}},
        {pgapp, "master", {git, "https://github.com/epgsql/pgapp.git", {tag, "master"}}},
        {mochiweb, "v2.20.1", {git, "https://github.com/mochi/mochiweb.git", {tag, "v2.20.1"}}}
]}.

{plugins, [rebar3_run]}.

{relx, [{release, {keuli, "0.4.9"},
         [keuli,
          sasl]},

        {mode, dev},

        %% automatically picked up if the files
        %% exist but can be set manually, which
        %% is required if the names aren't exactly
        %% sys.config and vm.args
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"}

        %% the .src form of the configuration files do
        %% not require setting RELX_REPLACE_OS_VARS
        %% {sys_config_src, "./config/sys.config.src"},
        %% {vm_args_src, "./config/vm.args.src"}
]}.

{profiles, [{prod, [{relx,
                     [%% prod is the default mode when prod
                      %% profile is used, so does not have
                      %% to be explicitly included like this
                      {mode, prod}

                      %% use minimal mode to exclude ERTS
                      %% {mode, minimal}
                     ]
            }]}]}.
