html, body, div {
  font-family: Arial, sans-serif;
}

#app {
  max-width: 468px;
  margin: 4em auto 4em;
  text-align: center;
}

.link {
  /*background-color: pink;*/
}

.link a {
  display: inline-block;
  text-decoration: none;
  font-size: 1em;
  line-height: 3em;
  vertical-align: baseline;
  height: 3em;
  width: 100%;
  margin: 0.4em 0;

  color: black;
  background-color: lightgray;
  border-radius: 0.6em;
}

.link a:hover {
  background: darkgray;
  transform: translateY(0.1em);
}